.Search-title {
    border-radius: 4px;
    font-size: 1.2rem;
    padding: .65em;
    width: 80vw;
}

.Search-year {
    border-radius: 4px;
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: .65em;
    width: 30vw;
}

.Search-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.Search-button {
    background: none !important;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #346497;
    cursor: pointer;
    font-size: large;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}