.App {
  align-items: center;
  background-color: #111111;
  color: #cccccc;
  display: flex;
  flex-direction: column;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  justify-content: center;
  min-height: calc(100vh - 4rem);
  padding: 2rem;
  text-align: center;
}

.App-header {
  font-size: calc(5px + 2vmin);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 100;
}
